
.navbar {
	background-color: blanchedalmond;
	
}

.bc {
	background-color:burlywood;
	padding:45px;
	
}

.margin{
	border-top:60px;
	padding-bottom:50px;

}
.red{
	border-radius:50% ; 
}

.fc {
	
	font-style:italic;
	font-family: 'Segoe UI';
	font-size:20px;
}